@media screen and (max-width: 1200px) {
  .cuisine-item {
    width: 25%;
    -webkit-background-size: cover;
    background-size: cover;
  }
}
@media screen and (max-width: 1088px) {
  .iphone {
    width: 90%;
  }
  .carousel-caption {
    padding-bottom: 100px;
    left: 0;
    right: 0;
  }
  .carousel-indicators {
    bottom: 45px;
  }
  .carousel-caption h4 {
    font-size: 25px;
    padding-bottom: 10px;
  }
  .carousel-caption span {
    font-size: 14px
  }
  .slider-image {
    min-height: 380px;
  }
  .cuisine-item h1 {
    font-size: 28px
  }
  .statistic {
    width: 100%;
  }
  .show {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .descr {
    width: 90%;
  }
  .iphone-wrap {
    height: auto;
    padding-bottom: 50px;
  }
  .iphone {
    width: 90%;
    padding-top: 0px;
  }
  .iphone-img {
    display: none;
  }
  .iphone-content {
    width: 100%;
  }
  .cuisine-item {
    width: 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .popup {
    padding-top: 135px;
  }
  .stat {
    width: 50%;
    margin-bottom: 40px;
  }
  .footer-inner span {
    float: none;
    text-align: center;
    display: block;
    margin-bottom: 5px;
  }
  .footer-inner p {
    float: none;
    text-align: center;
  }
  .show {
    width: 50%;
  }
}
@media screen and (max-width: 460px) {
  .top-line a {
    display: block;
    width: 100%;
    text-align: center;
  }
  .menu {
    float: none;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  .header-main {
    margin-top: 150px;
  }
  .header-main h1 {
    font-size: 58px;
  }
  .header-main h2 {
    font-size: 30px;
  }
  .cuisine-item {
    width: 100%;
  }
  .about {
    float: none;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 0;
    padding-top: 150px;
    background-position: 50% 25px;
  }
  .about + .about {
    margin: 0 auto;
  }
  .descr {
    padding-bottom: 20px;
  }
  .stat {
    width: 100%;
    margin-bottom: 40px;
  }
  .carousel-caption {
    padding-bottom: 47px;
  }
  .modal-body {
    height: 250px;
  }
  .show {
    width: 90%;
  }
}
